.task-menu {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1;
  background-color: rgb(180, 177, 157);
  max-width: 200px;
  border-radius: 1rem;
}

.task-menu.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-menu-option {
  border: 1px solid;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.2rem;
  width: 170px;
}

.task-menu-option:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.task-rename-holder {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.rename-task {
  background-color: rgb(118, 160, 189);
}

.complete-task {
  background-color: rgb(134, 197, 153);
}

.delete-task {
  background-color: rgb(221, 111, 111);
}

#task-rename-input {
  width: 170px;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
