.task-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-element {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.3rem;
}

.task-element.completed {
  text-decoration: line-through;
  border-color: green;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.task-element:hover {
  cursor: pointer;
  border: 1px solid red;
}