.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.task-list {
  position: relative;
  padding: 1rem;
}

.task-element {
  font-size: 1.2rem;
}

.task-element:hover {
  font-weight: bold;
  cursor: pointer;
}